{% extends 'base.html' %}
{% block tilte %}Home{% endblock tilte %}
{% block body %}
<table class="table table-hover container">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Doctor Fees</th>
        <th scope="col">Started Meds On Date</th>
        <th scope="col">Disease Problem</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
    {% for data in all_data %}
      <tr>
        <th scope="row">{{data.pk}}</th>
        <td colspan="">{{data.first_name}}</td>
        <td colspan="">{{data.last_name}}</td>
        <td colspan="">{{data.gender}}</td>
        <td colspan="">{{data.age}}</td>
        <td colspan="">{{data.doctor_name}}</td>
        <td colspan="">{{data.doctor_fees}}</td>
        <td colspan="">{{data.started_meds_on_date}}</td>
        <td colspan="">{{data.disease_Problem}}</td>
        <td colspan="">
          <a href="edit/{{data.id}}" class="btn btn-sm  btn-info">Edit</a>
          <form action="{% url 'delete' data.id %}" method="POST" class="d-inline">{% csrf_token %}
                  <input type="submit" value="Delete" class="btn btn-danger btn-sm">
          </form>
        <td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock body %}